@model DRHC.Models.ERWaitTime
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit ER Wait Times</h2>



    <div class="row">
        <div class="col-md-6">
            <h2>New</h2>
            <form method="post" action="/ERWaitTime/Create">
                <div class="inprow">
                    <label> Wait Time </label><br />
                    <input id="WaitTimeCat" type="text" value="@Model.WaitTimeCat" name="WaitTimeCat" class="form-control" />
                </div>
                               
                <div class="inprow">
                    <label>Description</label><br />
                    <textarea id="Description" type="text" value="@Model.Description" name="Description" class="form-control" rows="6" ></textarea>
                </div>


                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>


<div>
    @Html.ActionLink("Back to List", "Show")
</div>





