

@{
    ViewData["Title"] = "List";
}

<h2>The Current Emergency Room Wait Time</h2>

@foreach (var ERWait in Model)
{
    //<div> @ERWait.ERWaitTimeId</div>
    <div> @ERWait.WaitTimeCat</div>
    <div> @ERWait.Description</div>
}
