
@{
    ViewData["Title"] = "New";
}

<body>
    <div id="ERWaitTime_wrapper">
        <div class="row">
            <div class="col-md-8">
                <h2>Create Emergency Wait Time Notification</h2><br />
                <form method="post" action="/ERWaitTime/Create">

                    <div class="inprow">
                        <label for="New_ERWait_title" class="control-label"> ER Wait Time </label><br />
                        <input id="WaitTimeCat" name="WaitTimeCat" class="form-control" required /><br />
                    </div>

                    <div class="inprow">
                        <label for="new_ERWait_Desc" class="control-label">Description</label><br />
                        <textarea id="Description" name="Description" class="form-control" rows="6" required></textarea>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


