
@{
    ViewData["Title"] = "New";
}
>
<div id="r_box">
Please enter out these three values:Pending-Unpublished ,Approved-Unpublished and Approved-published 
<form method="POST" action="/TestimonialStatus/Create">
    <div class="inprow">
        <label class="inplabel">Testimonial Status Name</label>
        <input id="TestimonialStatusName" name="TestimonialStatusName" />
    </div>
    <div class="inprow">
        <input class="btn btn-success" type="submit" value="Submit" />
        <span class="btn btn-default" style="background-color:#03a9f5;"> @Html.ActionLink("Back To List", "List", "Testimonial")</span>
    </div>


</form>

</div>