
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="POST" action="/Tag/Create">
    <div class="inprow">
        <label class="inplabel">TestimonialStatusName</label>
        <input id="TestimonialStatusName" name="TagName" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>

@Html.ActionLink("Back To List", "List", "Tag");