
@{
    ViewData["Title"] = "New";
}


<div id="r_box">

    <h2>Add a Food Item</h2>
        <form method="POST" action="/Menu/Create">
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Item Name</label>
                <input id="ItemName" name="ItemName" />
            </div>
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Type</label>
                <select id="Type" name="Type">
                    <option value="Vegetarian">Vegetarian</option>
                    <option value="Non Vegetarian">Non Vegetarian</option>
                </select>
            </div>
            <div class="inprow col-lg-12">
                <label class="inplabel col-lg-4">Price</label>
                <input id="Price" name="Price" />
            </div>
            <div class="inprow text-center">
                <input type="submit" class="btn btn-success" value="Submit" />
                <span class="btn btn-default" style="background-color:#03a9f5;;color:white">@Html.ActionLink("Back to list of orders", "List", "Order")</span>
            </div>
        </form>
</div>
