@model DRHC.Models.Faq
@{
    ViewData["Title"] = "Edit";
}


<h2>Edit Tag</h2>

<form method="POST" action="@Model.FaqID">

    <div class="inputname">
        <div class="inplabel">Question:</div>
        <input type="text" id="Questions" name="Questions" value="@Model.Questions" />
    </div>

    <div class="inputname">
        <div class="inplabel">Answer:</div>
        <input type="text" id="Answers" name="Answers" value="@Model.Answers" />
    </div>

    
        <input type="submit" value="Submit" />
    

</form>



