
@{
    ViewData["Title"] = "New";
}





<div id="r_box">
    @*yeh div chalu hua hua*@




    <h2>Faq New</h2>

    <div class="row">
        <div class="col-md-4">
            <form method="post" action="/Faq/Create">
                <div class="inprow">
                    <label class="inplabel">Question</label>
                    <input id="Questions_New" name="Questions_New" />
                </div>

                <div class="inprow">
                    <label class="inplabel">Answer</label>
                    <input id="Answers_New" name="Answers_New" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    @*yeh div end hua*@
</div>
