@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
        <img class="col-lg-6" src="~/images/main.jpg" />
    <div class="col-lg-6"  >
        <div class="row" >
            <div class="col-lg-3 box">
                <a href="#">
                    <img src="~/images/icons/first-aid-kit.png" class="logoimg" />
                    <div class="logomsg">Program and Services</div>
                </a>
            </div>
            <div class="col-lg-3 box">
                <a href="#" class="text-center">
                <img src="~/images/icons/information.png" class="logoimg"> 
                    <div class="logomsg">Program and Services</div> 
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 box">
                <a href="#">
                    <img src="~/images/icons/customer.png" class="logoimg">
                    <div class="logomsg">Plan Your Stay</div>
                </a>

            </div>
            <div class="col-lg-3 box">
                <a href="#">
                    <img src="~/images/icons/visitor-identification.png" class="logoimg">
                    <div class="logomsg">Patients and visitors</div>
                </a>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
        <p class="text-center"><strong>Improving the quality of life through excellence in rural health care delivery.</strong></p>
        </div>
        <div class="row">
            <p class="text-center">Since its incorporation in 1952, the Dryden Regional Health Centre has provided professional, compassionate, 
            safe and high quality patient health care to the community of Dryden and surrounding areas.</p>

            <p class="text-center">
                As a small, rural and northern hospital, the 41-bed facility supports the work of more than 300 staff, physicians, nurses and volunteers and, through prudent planning and fiscal responsibility, continually moves forward with innovative programming suited to meet patient care needs at
                the right time, in the right place.
            </p>

            <p class="text-center">
                With the continued support of the Dryden Area Health Services Foundation, the hospital’s
                fundraising partner, the facility is attracting regional and provincial attention for its innovative approach to recruiting and retaining skilled health care professionals;  support of an engaged and healthy organization; 
                focus on aggressive facilities renewal programs and for its provision of safe, high quality health care services.
            </p>
        </div>
    </div>
    <div><img class="col-lg-6" src="~/images/doctor.png" id="docimg"></div>
</div>

<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-uppercase">our <span style="color:#03a9f5">services</span></h2>
        <p>We provide high-quality health care services for the human</p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/icons/heart.png" class="serviceimg" />
            <h3 class="text-center"><strong>Cardiology</strong></h3>
            <p class="text-center">Our Teamprovides comprehensive cardiovascular and offer</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/medical-stethoscope-variant.png" class="serviceimg" />
            <h3 class="text-center"><strong>Diagnostic</strong></h3>
            <p class="text-center">Diagonstic Services faciliates the provision of timely,cost-effective and high quality diagnostic care in safe</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/ambulance.png" class="serviceimg" />
            <h3 class="text-center"><strong>Medical Surgery</strong></h3>
            <p class="text-center">We provide ongoing general medical and sergical care during each patient's stay at the hospital</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/icons/tooth.png" class="serviceimg" />
            <h3 class="text-center"><strong>Dental Care</strong></h3>
            <p class="text-center">We provide cost-effective dental care,including all general dentistry,specially and advanced dental services</p>   
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/medicine.png" class="serviceimg" />
            <h3 class="text-center"><strong>Medicine</strong></h3>
            <p class="text-center">Our expert access patients in order to diagnose,treat, and prevent desease using clinical judgement and the right</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/doctor.png" class="serviceimg" />
            <h3 class="text-center"><strong>Specialist medical advice</strong></h3>
            <p class="text-center">Customer can get quick,detailed advice from experienced online Doctors or at clinics</p>
        </div>
    </div>
</div>

<div class="row">
        <h2 class="text-center text-uppercase">Customer <span style="color:#03a9f5">testimonials</span></h2>
</div>