@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
        <img class="col-lg-6" src="~/images/main.jpg" />
    <div class="col-lg-6"  >
        <div class="row" >
            <div class="col-lg-3" id="box">
                <a href="#">
                    <img src="~/images/icons/first-aid-kit.png" id="logoimg" />
                    <div id="logomsg">Program and Services</div>
                </a>
            </div>
            <div class="col-lg-3" id="box">
                <a href="#" class="text-center">
                <img src="~/images/icons/information.png" id="logoimg"> 
                    <div id="logomsg">Program and Services</div> 
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" id="box">
                <a href="#">
                    <img src="~/images/icons/customer.png" id="logoimg">
                    <div id="logomsg">Plan Your Stay</div>
                </a>

            </div>
            <div class="col-lg-3" id="box">
                <a href="#">
                    <img src="~/images/icons/visitor-identification.png" id="logoimg">
                    <div id="logomsg">Patients and visitors</div>
                </a>

            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-lg-6"></div>
    <div><img class="col-lg-6" src="~/images/doctor.png"></div>
</div>

<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-uppercase">our <span style="color:#03a9f5">services</span></h2>
        <p>We provide high-quality health care services for the human</p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/icons/heart.png" id="logoimg" />
            <h3 class="text-center">Cardiology</h3>
            <p class="text-center">Our Teamprovides comprehensive cardiovascular and offer</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/medical-stethoscope-variant.png" id="logoimg" />
            <h3 class="text-center">Diagnostic</h3>
            <p class="text-center">Diagonstic Services faciliates the provision of timely,cost-effective and high quality diagnostic care in safe</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/ambulance.png" id="logoimg" />
            <h3 class="text-center">Medical Surgery</h3>
            <p class="text-center">We provide ongoing general medical and sergical care during each patient's stay at the hospital</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img src="~/images/icons/tooth.png" id="logoimg" />
            <h3 class="text-center">Dental Care</h3>
            <p class="text-center">We provide cost-effective dental care,including all general dentistry,specially and advanced dental services</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/medicine.png" id="logoimg" />
            <h3 class="text-center">Medicine</h3>
            <p class="text-center">Our expert access patients in order to diagnose,treat, and prevent desease using clinical judgement and the right</p>
        </div>
        <div class="col-lg-4">
            <img src="~/images/icons/doctor.png" id="logoimg" />
            <h3 class="text-center">Specialist medical advice</h3>
            <p class="text-center">Customer can get quick,detailed advice from experienced online Doctors or at clinics</p>
        </div>
    </div>


</div>