
@{
    ViewData["Title"] = "AddVolunteerPosition";
}

<h2>Add a Volunteer Position Below</h2>

<form method="POST" action="/Volunteer/AddVolunteerPosition">

    <div class="inputrow">
        <label class="input-label"></label>
        <input id="PostTitle_New" name="Fname_New" />
    </div>

    <div class="inputrow">
        <label class="input-label"></label>
        <input id="Department_New" name="Department_New" />
    </div>

    <!--DO I need a hidden input for date?-->

    <div class="inputrow">
        <label class="input-label"></label>
        <input id="Description_New" name="Description_New" />
    </div>

    <div class="inputrow">
        <label class="input-label"></label>
        <input id="AboutOrg_New" name="AboutOrg_New" />

    </div>

    <div class="inputrow">
        <label class="input-label"></label>
        <input id="Experience_New" name="Experience_New" />

    </div>
    <div class="inputrow">
        <label class="input-label"></label>
        <input id="Education_New" name="Education_New" />

    </div>
</form>