
@{
    ViewData["Title"] = "New";
}
<div id="r_box_list">


    <form method="POST" action="/Guest/Create">
        <div class="row">
            <label class="text-center col-lg-12">Enter Range for the number of Guest attending</label>
            <span class="col-lg-6">Start Range: <input id="start" name="start" /></span>
            <span class="col-lg-6">End Range: <input id="end" name="end" /></span>

        </div>
        <div class="inprow">
             <input type="submit" class="btn btn-success" value="Submit" />
            <span class="btn btn-default" style="background-color:#03a9f5;;color:white">@Html.ActionLink("Back to list of orders", "List", "Order")</span>

        </div>


    </form>

</div>