
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="POST" action="/Guest/Create">
    <div class="inprow">
        <label class="inplabel">Enter Range for Guest</label>
        <span>Start<input id="start" name="start" /></span>
        <span>End<input id="end" name="end" /></span>

    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>

@Html.ActionLink("Back To List", "List", "TestimonialStatus");