@model IEnumerable<DRHC.Models.Alerts>

@{
    ViewData["Title"] = "ListAdmin";
}

<h2>ViewAdmin</h2>

@*
    Author: Artem Nahornyi
    Emergency Alert message
    Admin side
*@

<div class="row">
    @foreach (var alerts in Model)
    {
        <div class="group_container col-md-12" align="center" id="alert_redBox">
            <h3 class="title">
                @alerts.AlertTitle
            </h3>
            <p>@alerts.AlertMessage</p>
            <div>
                @Html.ActionLink("Edit", "Edit", new { id = alerts.AlertID }) |
                @Html.ActionLink("Delete", "Delete", new { id = alerts.AlertID })
            </div>
        </div>
    }
</div>