@model IEnumerable<DRHC.Models.Alerts>

@{
    ViewBag.Title = "List";
}
@* 
   Author: Artem Nahornyi 
   Emergency Alert message
*@

<div class="row">
    @foreach (var alerts in Model)
    {
        <div class="group_container col-md-12" align="center" >
            <h3 class="title">
                @alerts.AlertTitle
            </h3>
            <p>@alerts.AlertMessage</p>
        </div>
    }
</div>