
@{
    ViewData["Title"] = "Edit";
}

<h2>Change A Booking</h2>

<form method="POST" action="RecRoomBooking/ClientSide/Add">
    <div class="inputrow">
        <label class="input-label">First Name:</label>
        <input id="Fname_New" name="Fname_New" />
    </div>
    <div class="inputrow">
        <label class="input-label">Last Name:</label>
        <input id="Lname_New" name="Lname_New" />
    </div>
    <div class="inputrow">
        <label class="input-label">First Name:</label>
        <input id="Email_New" name="Email_New" />
    </div>
    <div class="inputrow">
        <label class="input-label">First Name:</label>
        <input id="Phone_New" name="Phone_New" />
    </div>

</form>