
@{
    ViewData["Title"] = "New";
}



<h2>Add a Testimonial</h2>
<div class="test">
    <form method="POST" action="/Testimonial/Create">
        <div class="inprow">
            <label class="inplabel">UserFName</label>
            <input id="UserFName" name="UserFName" />
        </div>
        <div class="inprow">
            <label class="inplabel">UserLName</label>
            <input id="UserLName" name="UserLName" />
        </div>
        <div class="inprow">
            <label class="inplabel">Title</label>
            <input id="Title" name="Title" />
        </div>

        <div class="inprow">
            <div class="inplabel">Story</div>
            <textarea id="Story" name="Story"></textarea>
        </div>
        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
