@model DRHC.Models.ViewModels.OrderEdit

@{
    ViewData["Title"] = "New";
}


<div id="r_box_list">

    <h2 class="text-center">Place Your Order</h2>
    <form method="POST" action="/Order/Create">
        <div class="row">
            <div class="col-lg-8">
                <div class="col-lg-6">
                    <label class="control-label " for="UserFName">
                        First Name :
                    </label>
                    <input class="form-control" id="UserFName" name="UserFName" type="text" />

                </div>
                <div class="col-lg-6">
                    <label class="control-label " for="UserLName">
                        Last Name :
                    </label>
                    <input class="form-control" id="UserLName" name="UserLName" type="text" />

                </div>
                <div class="col-lg-6 ">

                    <label class="control-label requiredField" for="Email">
                        Email :
                    </label>

                    <input class="form-control" id="Email" name="Email" type="text" />
                </div>
                <div class="col-lg-6 ">

                    <label class="control-label " for="Number">
                        Telephone
                    </label>

                    <input class="form-control" id="Number" name="Number" type="text" />
                </div>
                <div class="col-lg-6 ">
                    <div class="form-group ">
                        <label class="control-label col-sm-4" for="Date">
                            Date :
                        </label>
                        <input class="form-control" id="Date" name="Date" placeholder="MM/DD/YYYY" type="text" />
                    </div>

                </div>
                <div class="col-lg-6 ">

                    <div class="form-group ">
                        <label class="control-label col-sm-4" for="Time">
                            Time :
                        </label>
                        <input class="form-control" id="Time" name="Time" type="text" />
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group ">
                        <label class="control-label col-sm-3" for="Veg">
                            Veg
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="Veg" name="Veg" type="text" />
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group ">
                        <label class="control-label col-sm-3" for="NonVeg">
                            Non Veg
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control" id="NonVeg" name="nameNonVeg2" type="text" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 ">
                    <label class="inplabel col-sm-7">How Many Guest need to attend :</label>
                    <select class="select col-lg-3" id="GuestID" name="GuestID">
                        @foreach (var guest in Model.Guests)
                        {
                            <option value="@guest.GuestID">@guest.NumberOfGuest</option>
                        }
                    </select>


                </div>


            </div>

            <div class="col-lg-4 table-bordered">
                <div class="text-center"><label>Food Items</label></div>
                @foreach (var menu in Model.Menus)
                {
                    <span class="col-lg-12">
                        <input type="checkbox" name="FoodItems" value="@menu.ItemID" />
                        @menu.ItemName     $@menu.Price
                    </span>

                }

            </div>
            <div class="col-lg-12 text-center ">

                <button class="btn btn-success " name="submit" type="submit">
                    Submit
                </button>
            </div>

        </div>
            </form>


    </div>