

@{
    ViewData["Title"] = "New";
}




<div class="row">
    <div class="col-md-4">
        <h2>New</h2>
        <div class="jobposting_wrapper">
            <form method="post" action="/JobPosting/Create">
                <div class="inprow">
                    <label class="inplabel">Job Title </label><br />
                    <input id="JobTitle" name="JobTitle" required/>
                </div>
                <div class="inprow">
                    <label class="inplabel">Department </label><br />
                    <input id="Department" name="Department" required/>
                </div>
                <div class="inprow">
                    <label class="inplabel">Now </label><br />
                    <input id="Now" name="Now" required />
                </div>
                <div class="inprow">
                    <label class="inplabel">Deadline to Apply </label><br />
                    <input id="DeadlineToApply" name="DeadlineToApply"  required/>
                </div>
                <div class="inprow">
                    <label class="inplabel">Job Description </label><br />
                    <input id="Description" name="Description"  required/>
                </div>
                <div class="inprow">
                    <label class="inplabel">About our Hospital </label><br />
                    <input id="AboutOrg" name="AboutOrg" required />
                </div>
                <div class="inprow">
                    <label class="inplabel">Detailed Description </label><br />
                    <input id="AboutPosition" name="AboutPosition" required />
                </div>
                <div class="inprow">
                    <label class="inplabel">Experience </label><br />
                    <input id="Experience" name="Experience"  required/>
                </div>
                <div class="inprow">
                    <label class="inplabel">Education </label><br />
                    <input id="Education" name="Education" required/>
                </div>

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>






