
@{
    ViewData["Title"] = "VolunteerApplication";
}

<h2>Volunteer with Us!</h2>
<!--postion foreach?-->

<form method="POST" action="/Volunteer/AddVolunteerApplicatant">

    <div class="inputrow">
        <label class="input-label">First Name:</label>
        <input id="Fname_New" name="Fname_New" />
    </div>

    <div class="inputrow">
        <label class="input-label">Last Name:</label>
        <input id="Lname_New" name="Lname_New" />
    </div>

    <div class="inputrow">
        <label class="input-label">Address:</label>
        <input id="Address_New" name="Address_New" />
    </div>

    <div class="inputrow">
        <label class="input-label">City:</label>
        <input id="City_New" name="City_New" />

    </div>

    <div class="inputrow">
        <label class="input-label">Postal Code:</label>
        <input id="Postal_New" name="Postal_New" />

    </div>
    <div class="inputrow">
        <label class="input-label">Province/Territory:</label>
        <select id="Province_New" name="Province_New">
            <option value="Ontario">Ontario</option>
            <option value="Quebec">Quebec</option>
            <option value="Manitoba">Manitoba</option>
            <option value="Alberta">Alberta</option>
            <option value="BritishColumbia">British Columbia</option>
            <option value="NewBrunswick">New Brunswick</option>
            <option value="NewfoundlandAndLabrador">Newfoundland and Labrador</option>
            <option value="NorthwestTerritories">Northwest Territories</option>
            <option value="NovaScotia">Nova Scotia</option>
            <option value="Nunavut">Nunavut</option>
            <option value="PrinceEdwardIsland">Prince Edward Island</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Yukon">Yukon</option>
        </select>
    </div>

    <div class="inputrow">
        <label class="input-label">Phone Number:</label>
        <input id="Phone_New" name="Phone_New" />

    </div>

    <div class="inputrow">
        <label class="input-label">Email:</label>
        <input id="Email_New" name="Email_New" />

    </div>

    <div class="inputrow">
        <label class="input-label">Experience:</label>
        <input id="Experience_New" name="Experience_New" />

    </div>
    <div class="inputrow">
        <input type="hidden" id="ApplicationDate_New" name="ApplicationDate_New" />

    </div>
    <div class="inputrow">
        <input type="hidden" id="Approval_New" name="Approval_New" value="false" />

    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>


