body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*navigation css*/

#top-nav {
    text-align: center;
    text-decoration: none;
    padding: 50px;
    color: dimgrey;
   
}

.top-bar {
    background-color: #03a9f5;
     padding: 10px 75px; 
}

#nav_width_wrapper {
    width: 100%;
    padding: 0 75px;
}

.navbar-brand {
    padding: 0;
}



/* Home page */


.box {
    border: 1px solid white;
    background: #03a9f5;
    width: 300px;
    height: 245px;
}

.logoimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    height:50%;
    width:50%;
}

.logomsg {

    text-align:center;
    color:white;
    margin:10px;

}

#docimg {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 28%;
    width: 28%;
}

.serviceimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 30%;
    width: 30%;
}


img {
    width: auto;
}

footer {
    border-top: 1px solid #03a9f5;
}

#footer-link {
    /*padding: 100px 75px;*/
    background-color: #03a9f5;
    text-transform: uppercase;
}

    #footer-link a {
        color: white;
    }

#footer-bar {
    background-color: black;
    font-size: .9em;
    color: white;
    padding: 10px 50px;
}

    #footer-bar p {
        margin: 0;
    }












