/**Donor Create **/
@{
    ViewData["Title"] = "New";
}


<h2>New</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/Donor/Create">
            <div class="inprow">
                <label class="inplabel">Title </label>
                <input id="Title" name="Title" />
            </div>

            <div class="inprow">
                <label class="inplabel">First Name</label>
                <input id="FirstName" name="FirstName" />
            </div>

            <div class="inprow">
                <label class="inplabel">Last Name</label>
                <input id="LastName" name="LastName" />
            </div>

            <div class="inprow">
                <label class="inplabel">Address</label>
                <input id="Address" name="Address" />
            </div>
            <div class="inprow">
                <label class="inplabel">City</label>
                <input id="City" name="City" />
            </div>
            <div class="inprow">
                <label class="inplabel">Province</label>
                <input id="Province" name="Province" />
            </div>
            <div class="inprow">
                <label class="inplabel">PostalCode</label>
                <input id="PostalCode" name="PostalCode" />
            </div>
            <div class="inprow">
                <label class="inplabel">Email</label>
                <input id="Email" name="Email" />
            </div>
            <div class="inprow">
                <label class="inplabel">Phone</label>
                <input id="Phone" name="Phone" />
            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>




