@model DRHC.Models.ViewModels.TipAndLetterEdit

@{
    ViewData["Title"] = "New";
}



<h2>New Page</h2>
<form method="POST" action="/Testimonial/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="Title" name="Title" />
    </div>
    <div class="inprow">
        <label class="inplabel">Message</label>
        <input id="Message" name="Message" />
    </div>

    <div class="inptrow">
        <label class="inplabel">Status</label>
        <select id="TagID" name="TagID">
            @foreach (var status in Model.Tags)
            {
            <option value="@@Model.status.TagID">@status.TagName</option>
            }
        </select>
    </div>
    <div class="inptrow">
        <label class="inplabel">Status</label>
        <select id="TipStatusID" name="TipStatusID">
            @foreach (var status in Model)
            {
            <option value="@status.TipStatusID">@status.TipStatusName</option>
            }
        </select>
    </div>


    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>

@Html.ActionLink("Back To List", "List", "TipAndLetter")
